*{
	border: 0;
	margin: 0;
	padding: 0;
}
body{
	background: #fff;
	font-family: sans-serif;
	
	

}
header{
	background: #fff;
	width: auto;
	height: 70px;
border-bottom: 2px solid #F2F2F2;


}



#btn-menu{
	display: none;

}
header label{
	display: none;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-right: 1px solid #000;
	color: #000;

		
}

.menu{
	display: inline-flex;

}

.menu h1{
background: #fff;
	width: auto;
	height: auto;
	float: left;
	
}

.menu h1 img{
	width: 160px;
	height: 65px;
	padding-left: 60px;
	float: left;
	padding-right: 450px;

}

header label:hover{
	cursor: pointer;
	background: rgba(0,0,0,0.);

}
.menu ul{
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	float: right;


}

.menu li a{
	
	padding: 25px 25px;
	color: #585858;
	text-decoration: none;
	font-family: sans-serif;
	float: right;


	
}
.menu li a:hover{
	color: crimson;
	transition: all 1s;
}
@media (max-width: 768px){
	header label{
		display: block;

	}
	
	.menu{
		position: absolute;
		background: rgb(63, 127, 191);
		width: 70%;
		margin-left: -120%;
		transition: all 0.5s;
		color: white;
		border-radius: 5px;
		flex-direction: column;

	}
	.menu ul{
		flex-direction: column;
		color: white;
			}
	.menu li{
		border-top:  1px solid white;
		color: white;
		flex-direction: column;
	font-weight: bold;

	}
	.menu li a{
		color: white;
padding-top: 22px;

	}

	
    #btn-menu:checked ~ .menu{
	margin: 0;
	height: 400px; 
	z-index: 4;
	color: white;


}


}




.famosos .info1 img:hover{
	border-color: #FA5858;
	transition: all 0.5s;
}
.famosos .info2 img:hover{
	border-color: #58FAAC;
	transition: all 0.5s;
}
.famosos .info3 img:hover{
	border-color: #5882FA;
	transition: all 0.5s;
}
.famosos .info4 img:hover{
	border-color: #FACC2E;
	transition: all 0.5s;
}
.info4 h4{
	margin-top: 10px;
	font-family: sans-serif;
	color: rgba(0,0,0,.8);
	
	
}

 .famosos{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
margin-bottom: 200px;

	
}
.personajes{
	margin-bottom: 100px;
}
.final{
	padding-top: 80px;
}
.info1{
	padding-top: 100px;
	margin: 20px;
	width: 190px;
	height: 190px;
	display: inline-block;
	vertical-align: top;
	
}
@media (max-width: 968px){
	.info1{
		padding-top: 40px;
	}


	}
.info1 img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 7px solid rgba(0,0,0,.1);
}
.info2{
	padding-top: 100px;
	margin: 20px;
	width: 190px;
	height: 190px;
	display: inline-block;
	vertical-align: top;
	
}

.info2 img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 7px solid rgba(0,0,0,.1);
}
.info3{
	padding-top: 100px;
	margin: 20px;
	width: 190px;
	height: 190px;
	display: inline-block;
	vertical-align: top;
	
}
.info3 img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 7px solid rgba(0,0,0,.1);
}
.info4{
	padding-top: 100px;
	margin: 20px;
	width: 190px;
	height: 190px;
	display: inline-block;
	vertical-align: top;
	
}
.info4 img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 7px solid rgba(0,0,0,.1);
}
.personajes h1{
	font-family: sans-serif;
	margin: 0 auto;
	padding-left: 20px;
	border-bottom: 2px solid #FACC2E;
	vertical-align: top;
	display: inline-block;
	padding-bottom: 10px;

	
}
.personajes h2{
	font-family: sans-serif;
	margin: 0 auto;
	margin-top: 20px;
text-align: center;
color: rgba(0,0,0,.8);
		border-bottom: 2px solid #FACC2E;
		
	
	
	
}
.obras h1{
	font-family: sans-serif;
	margin: 0 auto;
	padding-left: 20px;
	float: right;
	vertical-align: top;
	display: inline-block;
	border-bottom: 2px solid crimson;
}
.personajes p{
	font-family: sans-serif;
	margin-top: 10px;
	text-align: center;
	padding: 10px 10px;
	color: rgba(0,0,0,.5);
	font-size:large;
}
.personajes img{
	width: 20%;
	
}


#big-section{
	background:  rgba(36,126,229,0.07);
	width: auto;
	height: auto;
	position: relative;
	z-index: 3;

}
#big-section img{
	width: 100%;
	height: 100%;
	background: #ccc;
	z-index: 2;

}

#big-section .contenedor{
	position: relative;
	width: 80%;
	height: auto;
margin: 0 auto;
	z-index: 1;
max-width: 1000px;
background-color: white;
box-sizing: border-box;
z-index: 9;
margin-bottom: 20px;
}





.btn-enviar1{
	background-color: #FACC2E;
	color: #fff;
	margin:0 auto;
	padding:  15px 40px;
	cursor: pointer;
	font-size: 15px;
	font-family: sans-serif;
	border-radius: 3px;
	margin-top: 10px;
	margin-right: 20px;

}
.btn-enviar2{
	background-color: crimson;
	color: #fff;
	margin:0 auto;
	padding:  15px 40px;
	cursor: pointer;
	font-size: 15px;
	font-family: sans-serif;
	border-radius: 3px;
	margin-top: 10px;
	margin-bottom: 40px;

}
.btn-enviar1:hover{
	background-color: #088A4B;
}
.btn-enviar2:hover{
	background-color: #088A4B;
}


#big-section .btn-enviar:hover{
background: #088A4B;


}
#big-section  #cuarto{
	
	width: 80%;
	
padding: 20px;
margin: 0 auto;
border-radius: 9px;
	
	
}
#big-section img{
	width: 100%;
	height: 100%;
	background: #ccc;
}

#big-section  #cuarto img{
	
border-radius: 9px;
	
	
}


#big-section #carreras{
	font-family: sans-serif;
	color: rgba(0,0,0,.8);
	padding: 20px;
	margin-left: 110px;
	border-bottom: 2px  solid crimson;

margin-bottom: 20px;

}
#quinto{
	box-sizing: border-box;
	padding: 20px;
	font-family: sans-serif;
}


footer{
	background: #333;
	width: auto;
	height: auto;
	box-sizing: border-box;
	
}
 

#datos  {
	position: relative;
	color: #fff;
	font-family: sans-serif;
	text-align: center;
	
	
	display: inline-block;
	width: auto;
	height: auto;
	vertical-align: top;
	padding: 3%;
	box-sizing: border-box;

}

#correo {
	position: relative;
	color: #fff;
	font-family: sans-serif;
	text-align: center;
	
	
width:auto;
height: auto;
display: inline-block;
vertical-align: top;
padding: 3%;
box-sizing: border-box;	
	
}

#facebook {
	position: relative;
	color: #fff;
	font-family: sans-serif;
	text-align: center;
	
		width: auto;
	height: auto;
	display: inline-block;
	vertical-align: top;
	padding: 3%;
	box-sizing: border-box;
}
#derechos {
	
	color: darkgray;
	font-family: sans-serif;
	text-align: center;
	
	padding-bottom: 1%;
	
	
	
	
}





